
/*
Main page base
*/

body {
  background-color: #404040;
}


/*
Timer section
*/

.buttons {
  margin-top: 5%;
  text-align: center;
  align-self: center;
}

.timestamp-timer {
  font-size: 90px;
  color: white;
}

.hide {
  display: none;
}